<h1 style="text-align: center;">{{message}}</h1>
<button ng-click="getUsers()">Get Users</button>
<span ng-show="users.length > 0">
    <table style="border: 1px solid black;">
        <thead>
            <th style="text-align: center;">Name</th>
            <th style="text-align: center;">ID</th>
        </thead>
        <hr/>
        <tbody ng-repeat="user in users track by $index">
            <td>{{user.name}}</td>
            <td style="padding-left: 20px;">{{user.id}}</td>
        </tbody>
    </table>
</span>