<div class="ha-pairs">
    <table class="table table-hover displayDevices">
        <thead>
            <tr>
                <th scope="col">HA Pair</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">ID</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ha_pair in ha_pairs track by $index">
                <td>
                    {{ha_pair.ha}}
                </td>
                <td>
                    {{ha_pair.name}}
                </td>
                <td>
                    {{ha_pair.type}}
                </td>
                <td>
                    {{ha_pair.pid}}
                </td>
                <td>
                    <input type="checkbox" value="{{ha_pair.id}}" id="{{$index}}" ng-change="select($index, selected)"
                        ng-model="selected">
                </td>
            </tr>
        </tbody>
    </table>
    <div class="upgrade-button ">
        <button class="btn btn-success" ng-click="upgrade()">
            Upgrade
        </button>
    </div>
</div>
