.ha-pairs {
    display: grid;
}


#device_form {
    display: grid;
    place-items: center;
}

.table {
    margin-bottom: 0;
}

.display-pairs{
    text-align: center;
}

.display-pairs > thead {
    font-size: larger;
    font-weight: 700;
    color: white;
 }